.navi {
  display: block;
  font-style: italic;
  text-decoration: none;
  border: solid;
  border-radius: 100px 80px;
   outline:none;
   padding:10px;
   margin:5px;
  color: rgb(212, 175, 55);
}