<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h1 class=" header text-uppercase">Menu</h1>
			<hr>
		</div>
	</div>

	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">indian</h4>
			<h5 class="text-center quicksand-font text-uppercase">Tiffins</h5>
			<p >Chapathi</p>
			<p >Idli Sambar</p>
			<p >Masala Dosa</p>
			<p >Pulka</p>
			<p >Upma</p>
      <p >Veg Thali</p>
       <p > Paav Bhaaji</p> 
       <p> Chole Kulchee </p>
       <p> Butter Dosa</p> 
			<h5 class="text-center quicksand-font text-uppercase">Biryani</h5>
			<p>Veg Biryani</p>
      <p >Mushroom Biryani</p>
			<p >Egg Biryani</p>
			<p >Chicken Biryani</p>
			<p >Mutton Biryani</p>
		</div>
	</div><br><br>
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">chineese</h4>
       <p>Dumplings</p>
       <p>Paneer Chilli</p>
       <p>Chicken Chilly Rolls</p> 
       <p> Manchow Soup </p>
			<h5 class="text-center quicksand-font text-uppercase">Noodles</h5>
			<p>Hakka Noodles</p>
      <p >Veg Noodles</p>
			<p >Egg Noodles</p>
			<p>Gobi Noodles</p>
			<h5 class="text-center quicksand-font text-uppercase">Manchurian</h5>
			<p >Veg Manchurian</p>
			<p >Gobi Manchurian</p>
			<p >Chicken Manchurian</p>
		</div>
	</div><br>
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">Italian</h4>
        <p>Burritos </p>
        <p>Garlic Bread </p>
        <p>Cheese Balls </p>
<h5 class="text-center quicksand-font text-uppercase">Pasta</h5>
      <p> Veg Pasta </p>
      <p> Pink Pasta </p>
      <p>Hot Garlic Cheese Pasta</p>
    
			<h5 class="text-center quicksand-font text-uppercase">Pizza</h5>
			<p>Margarita Pizza</p>
      <p >Cheese Pizza</p>
			<p >Chicken Pizza</p>
			<p >Pepperoni Pizza</p>
		</div>
	</div><br>
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">Desserts</h4>
			<p >Vanilla ice cream</p>
			<p>Strawberry ice cream</p>
			<p >Butterscotch ice cream</p>
			<p >Chocolate Brownie</p>
		</div>
	</div>
</div>